@font-face {
  font-family: "Prima Sans";
  font-weight: bold;
  src: url("PrimaSansBT-Bold.otf")
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

p {
  font-family: "Prima Sans", sans-serif;
  font-size: 3rem;
  color: white;
  text-align: center;
}

#mainContainer {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-around;*/
  width: 50rem;
  height: 20rem;
  background-color: #DBD0DA;
}

.subContainer {
  margin: 1.5rem;
}

.text {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#container1 {
  background-color: #FC7977;
  flex-grow: 1;
  margin-right: 0.4rem;

}

#container2_group {
  flex-grow: 1.5;
  margin-left: 0.4rem;
  display: flex;
  flex-flow: column wrap;
}

#container2 {
  /*background-color: green;
  width: 100%;
  height: 45%;
  margin-bottom: 1.7rem;*/

  background-color: #C8F58E;
  flex-grow: 1;
  margin-bottom: 1rem;
}

#container3_group {
  /*background-color: cyan;
  width: 100%;
  height: 45%;*/

  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
}

#container3 {
  background-color: #FC9AEE;
  flex-grow: 1;
  margin-right: 0.4rem;
}

#container4_group {
  flex-grow: 1;
  margin-left: 0.4rem;
  display: flex;
  flex-flow: column wrap;
}

#container4a {
  background-color: #9DA5FC;
  flex-grow: 1;
  margin-bottom: 0.4rem;
}

#container4b {
  background-color: #9DA5FC;
  flex-grow: 1;
  margin-top: 0.4rem;
}



.test {
  background-color: blue;
  width: 30rem;
  height: 20rem;
  display: flex;
  flex-flow: column wrap;
}

.test1 {
  background-color: green;
  width: 10rem;
  height: 10rem;
}

.test2 {
  background-color: red;
  width: 10rem;
  height: 10rem;
}
